@import url(https://fonts.googleapis.com/css?family=Dancing+Script:100,200,300,400,500,600.700|Exo:100,200,300,400,500,600.700);

/*---------------------------Colors*/
.bg-color-name-title {
    background-color: #f6aade;
    min-height: 260px;
}

.ui-menu-color-home {
    background-color: #f5a2da;
}

.ui-menu-color-menu {
    background-color: #f578cd;
}

.ui-menu-color-contact {
    background-color: #ed21ad;
}


/*----------------------------Headings*/

header {
    margin:0;
}

.heading{
    margin-left: 50px;
    padding-bottom: 15px;
    width: 100%;
}

.logo {
    background-image: url("../images/logo.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 20px;
    min-width: 13px;
}

.title {
    font-family: "Exo", sans-serif;
    font-weight:100;
    font-size: 60px;
    margin-top: 50px;
    color: #2e2e2e;
    width: 100%;
}

.title2 {
    font-family: "Dancing Script", sans-serif;
    font-weight: 100;
    font-size: 60px;
    margin-top: 25px;
    margin-left: 100px;
    color: #2e2e2e;
}

@media screen and (max-width: 600px) {
    .title2 {
        margin-left: auto;
    }
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu {
    font-size: 0;
}

#nav-bar li {
    font-size: 14px;
    padding: 0;
}

#nav-bar {
    margin: 0;
    overflow: hidden;
    float: right;
    padding-top: 15px;
}

.menuitem {
    min-height: 120px;
    min-width: 260px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #2e2e2e;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #2e2e2e;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------Body*/

.video {
    width: 100%;
    min-height: 900px;
    padding-top: 5px;
    padding-bottom: 5px;
}


@media screen and (max-width: 600px) {
    div.image img {
        width: 100%;
    }
}


.about-us, .image {
    background: #f5a2da;
    min-height: 400px;
    width: auto;
    padding: 15px;
}

.map {
    text-align: center;
    clear: both;
    width:auto;
    min-height: 500px;
    display: inline-block;
}

body {
    background: #efbbde;
}

#carousel {
    height: 750px;
    width: 750px;
    display: inline-block;
    padding-right: 10px;
}

.test-1 {
    color:#737369;
}

.test-2 {
    color: #fff;
}

.test-3 {
    color:#fff;
}

/*-------------------Menu.html*/

.menu-title {
    font-family: "Dancing Script", sans-serif;
    font-size: 60;
    font-weight: 400;
    margin-top: 50px;
    color: #2e2e2e;
    padding: 15px;
}

.flavours {
    font-family: "Exo", sans-serif;
    font-size: 38;
    font-weight: 600;
    padding: 15px;
    color: #2e2e2e;
}

.examples {
    font-family: 'Exo', sans-serif;
    font-size: 30;
    font-weight: 600;
    padding: 30px;
    color: #2e2e2e;
    display: inline-block;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    width: 100%;
}

.info {
    font-family: 'Exo', sans-serif;
    font-size: 30;
    font-weight: 600;
    padding: 30px;
    color: #2e2e2e; 
    display: inline-block;
}

/*-------------------Contact*/

.button {
    background-color: #f25fc3;
    color: #000;

}

legend {
    font-size: 28;
    font-weight: 200;
}

legend, label, .contact {
    font-family: "Exo", sans-serif;
    color: #1d0a01;
    font-size: 23;
}


form {
    display: inline-block;
    padding: 15px;
    width: auto;
}


.contact-us {
    float: right;
    display: inline;
}

@media screen and (max-width: 600px) {
    .contact-us {
        width: auto;
    }
}

.contact {
    clear: both;
    padding: 15px;
}


/*-------------------Hover.css*/

.hvr-sweep-to-top:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*-------------------Special padding*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.font {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #2e2e2e;
}

/*-------------------Footer*/

footer {
    background: #f6aade;
    text-align: center;
    min-height: 60px;
}


.socials {
    padding-bottom: 15px;
    padding-top: 20px;
    float: right;
}

.socials li a i {
    min-width: 32px;
    min-height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #2e2e2e;
    background: #f5a2da;
    transition: all 0.35s ease-in-out;
}

.socials li a i:hover {
    background: #ed21ad;
}